.content {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 10px;
  margin-bottom: 20px;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: steelblue;
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 10px;
  }
  .main {
    padding: 15px;

    .message {
      margin-bottom: 10px;
    }

    .img {
      margin-bottom: 10px;
    }
  }
  img {
    width: 300px;
  }
}